@model Post

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/MyChats", "MyChats"), ("","Details") }) />
<partial name="_DeletePostModal" />
<div class="card rounded shadow p-3" >
    <h3 class=" mb-3">@Model.Name's Post</h3>
    <button class="btn btn-danger my-1 " asp-roles="Admin,Manager" style="width: 80px;" data-toggle="modal" data-target="#deletePostModal">Delete
    </button> 
</div>

<div class=" card rounded shadow p-3 text-centre my-2" style="justify-content: center;">
    <table>
        
            <tr>
                <td class="col-8">@Model.PostText</td>
            </tr>
            <td class="col-1">@Model.CreatedOn</td>
    </table>
    <div class="row pl-3 mt-3 ml-2">
        <div class="col-4">
            <a asp-action="AddComment" asp-route-id="@Model.Id" class="btn btn-sm btn-primary mr-2">
                <i class="bi bi-plus-square-dotted mr-1"></i> Add a comment 
            </a>
            <a asp-controller="MyChats" asp-action="Index" class="btn btn-sm btn-secondary mr-2" style="width: 80px;">Index</a>
            <a asp-controller="MyChats"  asp-action="Edit" asp-route-id="@Model.Id"  class="btn btn-sm btn-info  mr-2" style="width: 80px;">Edit</a>

            </button>
        </div>
    </div>
</div>


<div class="card shadow rounded p-3 bg-light">
    <table class="table">
        <h5 >Comments</h5>
        <tbody>
            <!-- loop prints all comments-->
            @foreach (var c in Model.Comments)
            {
                <tr class="row pl-5 bg-light">
                    <td class="col-2">@c.Name</td>
                    <td class="col-5">@c.Description</td>
                    <td class="col-2">@c.CreatedOn</td>
                    <td class = "col-1">
                        <a asp-controller="MyChats" asp-roles="Admin,Manager" asp-action="DeleteComment" asp-route-id="@c.CommentId"
                        class="btn btn-sm  btn-danger mr-2">Remove
                            comment </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>