@model Business
<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/MyPlaces", "MyPlaces"), ("","Details") })>

<div class="card rounded shadow p-3">
    <h3 class="mb-3">Business Details</h3>
</div>

<div class="card shadow rounded p-3">
    <div class="row pl-3">
        <div class="col-4">
            <img src="@Model.PosterUrl" class="img-fluid">
        </div>
        <!-- Details -->
        <div class="col-8 pt-3">
            <dl class="row">
                <dt class="col-3">Title</dt>
                <dd class="col-7">@Model.Title</dd>

                <dt class="col-3">Type</dt>
                <dd class="col-7">@Model.Type</dd>

                <dt class="col-3">Description</dt>
                <dd class="col-9">@Model.Description</dd>
                
                <dt class="col-3">Rating</dt>
                <dd class="col-7">@Model.Rating</dd>
                
            </dl>
        </div>
    </div>

    <!-- action options -->
    <div class="row pl-3 mt-3 ml-2">
        <div class="col-4">
            <a asp-action="AddReview" asp-route-id="@Model.Id" class="btn btn-sm btn-info mr-2">
                <i class="bi bi-plus-square-dotted mr-1"></i> Add review
            </a>
            <a asp-controller="MyPlaces" asp-action="Index" class="btn btn-sm btn-primary mr-2">Index</a>
            <a asp-controller="MyPlaces" asp-action="Edit" asp-roles="Admin,Manager" asp-route-id="@Model.Id"  class="btn btn-sm btn-secondary  mr-2">Edit</a>
            <a class="btn btn-danger" asp-roles="Admin,Manager" asp-controller="MyPlaces" asp-action="Delete" asp-route-id=@Model.Id>Delete</a> 

            </button>
        </div>

    </div>

</div>

<div class="card shadow rounded p-3 bg-light">
    <table class="table">
        <thead>
            <tr class="row pl-5 bg-dark text-light">
                <th class="col-2">Name</th>
                <th class="col-5">Review</th>
                <th class="col-1">Rating</th>
                <th class="col-2">Added On</th>
                <th class=></th>
            </tr>
        </thead>
        <tbody>
            <!-- loop prints all reviews -->
            @foreach (var r in Model.Reviews)
            {
                <tr class="row pl-5 bg-light">
                    <td class="col-2">@r.Name</td>
                    <td class="col-5">@r.Comment</td>
                    <td class="col-1">@r.Rating</td>
                    <td class="col-2">@r.CreatedOn</td>
                    <td class = "col-1">
                        <a asp-controller="MyPlaces"  asp-roles="Admin,Manager" asp-action="DeleteReview" asp-route-id="@r.Id"
                        class="btn btn-sm  btn-danger mr-2">Remove
                            review </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>