@model IList<Photo>

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/Home/DashBoard", "DashBoard"), ("","MyPhotos") })>

    <div class="card rounded shadow p-3">
        <h3 class="mb-3">Gallery</h3>
        <a class="btn btn-sm btn-primary mb-3" asp-controller="MyPhotos" asp-action="Create">Create</a>
    </div>
    <!--<div> form inputs 
        <partial name="_RetrieveImage"/>
 </div>
<h1>@ViewBag.Message</h1>
<h1>@ViewBag.PhotoTitle</h1>
<img src="@ViewBag.PhotoDataUrl" />-->

    <div class=" card rounded shadow p-3 ">
        <div class="row ">
           

            @foreach (var p in Model)
            {
            <!--- <td>p.PhotoTitle</td> -->
            <div class= "col-3"> <img src="@p.PhotoDataUrl" width="300" height="300" class =" mr-3"/>
               
                
                   <a class="bi bi-arrows-fullscreen" asp-controller="MyPhotos" asp-action="Details"
                asp-route-id="@p.PhotoId"></a> </div>
            
            
            }<!--- Loop ends -->
        
      </div>
    </div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }